[submodule "boost-accounts/lib/forge-std"]
	path = boost-accounts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "boost-accounts/lib/openzeppelin-contracts"]
	path = boost-accounts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "boost-accounts/lib/account-abstraction"]
	path = boost-accounts/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "boost-accounts/lib/solady"]
	path = boost-accounts/lib/solady
	url = https://github.com/vectorized/solady
[submodule "boost-accounts/lib/webauthn-sol"]
	path = boost-accounts/lib/webauthn-sol
	url = https://github.com/base-org/webauthn-sol
[submodule "boost-accounts/lib/FreshCryptoLib"]
	path = boost-accounts/lib/FreshCryptoLib
	url = https://github.com/rdubois-crypto/FreshCryptoLib
[submodule "boost-accounts/lib/RS256Verify"]
	path = boost-accounts/lib/RS256Verify
	url = https://github.com/jayden-sudo/RS256Verify
[submodule "boost-protocol/packages/evm/lib/forge-std"]
	path = boost-protocol/packages/evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "boost-protocol/packages/evm/lib/solady"]
	path = boost-protocol/packages/evm/lib/solady
	url = https://github.com/vectorized/solady
[submodule "boost-protocol/packages/evm/lib/openzeppelin-contracts"]
	path = boost-protocol/packages/evm/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "boost-protocol/packages/evm/lib/modular-account"]
	path = boost-protocol/packages/evm/lib/modular-account
	url = https://github.com/alchemyplatform/modular-account
[submodule "boost-protocol/packages/evm/lib/eigenlayer-contracts"]
	path = boost-protocol/packages/evm/lib/eigenlayer-contracts
	url = https://github.com/Layr-Labs/eigenlayer-contracts
[submodule "boost-protocol/packages/evm/lib/eigenlayer-middleware"]
	path = boost-protocol/packages/evm/lib/eigenlayer-middleware
	url = https://github.com/Layr-Labs/eigenlayer-middleware
[submodule "boost-protocol/packages/evm/lib/openzeppelin-contracts-upgradeable"]
	path = boost-protocol/packages/evm/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "boost-protocol/packages/evm/lib/account-abstraction"]
	path = boost-protocol/packages/evm/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction.git
